* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    -webkit-box-sizing: content-box;
    -webkit-font-smoothing: antialiased;
    box-sizing: content-box;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
}

body {
    -webkit-font-smoothing: antialiased;
    color: rgba(0,0,0,.701961);
    overflow: hidden;
    text-rendering: optimizeLegibility;
}

.branding, .branding-dark, .searchbox, .searchbox-dark, .searchbutton, .searchbutton-dark, .quarter, .quarter-dark, .btn-close, .btn-close-dark, .btn-pin, .btn-pin-dark, .btn-pin-active, .btn-pin-active-dark, .card, .card-dark, .blankcard, .blankcard-dark, .ribbon, .ribbon-dark, .card-waitlist, .card-waitlist-dark, .card-pin, .empty-list, .empty-list-dark, .list-help div, .list-help-dark div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.branding, .searchbox {
    background: linear-gradient(90deg, #334bfd, #00c6ff);
}

.branding-dark, .searchbox-dark {
    background: linear-gradient(90deg, #4C61FA, #ca1cec);
}

.branding, .branding-dark {
    color: #fff;
    height: 100px;
    font-size: 28px;
}

.branding h1, .branding-dark h1 {
    font-weight: 400;
}

.branding svg, .branding-dark svg {
    position: relative;
    margin: 0 10px;
    top: -8px;
}

.searchbox, .searchbox-dark {
    padding-bottom: 20px;
}

.searchbox input, .searchbox-dark input {
    outline: none;
    width: 50vw;
    height: 50px;
    border-radius: 7px 0 0 7px;
    text-indent: 20px;
    font-size: 16px;
    transition: color 0.5s ease-in-out, caret-color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.searchbox-dark input {
    background-color: #333;
    caret-color: #fff;
    color: #fff;
}

.searchbox input::-webkit-input-placeholder, .searchbox-dark input::-webkit-input-placeholder {
    color: #333;
    transition: color 0.5s ease-in-out;
}

.searchbox-dark input::-webkit-input-placeholder {
    color:#fff;
}

.searchbutton, .searchbutton-dark {
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 0 7px 7px 0;
    background-color: #2181f7;
    transition: background-color 0.5s ease-in-out;
}

.searchbutton-dark {
    background-color: #724AE2;
}

.quarter, .quarter-dark {
    cursor: pointer;
    width: 20vw;
    height: 50px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    text-align-last: center;
    color: #333;
    background-color: #f2f2f2;
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
}

.quarter-dark {
    color: #fff;
    background-color: #4E4E4E;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.quarter-loading, .quarter-dark-loading {
    transition: border 0.5s ease-in-out;
    border: 4px solid #fff;
    border-top: 4px solid #2181f7;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

.quarter-dark-loading {
    border: 4px solid #333;
    border-top: 4px solid #8254ff;
}

.list, .list-dark, .list-short, .list-short-dark {
    background-color: #eee;
    height: calc(100vh - 210px);
    padding: 20px 0;
    overflow-y: scroll;
    transition: background-color 0.5s ease-in-out;
}

.list-dark, .list-short-dark {
    background-color: #111;
}

.list-short, .list-short-dark {
    height: calc(100vh - 260px);
}

.blankcard-header, .blankcard-header-dark, .blankcard-subtitle, .blankcard-subtitle-dark {
    margin-left: 20px;
    width: 70px;
    height: 18px; 
    border-radius: 3px;
    margin-bottom: 7px;
    background-color: #eee;
    transition: background-color 0.5s ease-in-out;
    animation: pulse 0.5s infinite ease-in-out;
    -webkit-animation: pulse 0.5s infinite ease-in-out;
}

.blankcard-subtitle, .blankcard-subtitle-dark {
    width: 200px;
    height: 14px;
    margin-bottom: 0;
}

.blankcard-header-dark, .blankcard-subtitle-dark {
    background-color: #444;
}

@keyframes pulse {
    0% {
        background-color: rgba(165,165,165,.2);
    }
    50% {
        background-color: rgba(165,165,165,.4);
    }
    100% {
        background-color: rgba(165,165,165,.2);
    }
}

@-webkit-keyframes pulse {
    0% {
        background-color: rgba(165,165,165,.2);
    }
    50% {
        background-color: rgba(165,165,165,.4);
    }
    100% {
        background-color: rgba(165,165,165,.2);
    }
}

.card, .card-dark, .blankcard, .blankcard-dark {
    cursor: pointer;
    justify-content:space-between;
    background-color:#fff;
    font-size: 20px;
    height: 85px;
    text-indent:20px;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 7px;
    max-width: 750px;
    margin: 0 auto;
    color: inherit;
    text-decoration: none;
}

.card-dark {
    color: #fff;
    background-color: #333;
}

.card-width {
    width: 80%;
}

.card-code {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 3px;
}

.card-title, .card-title-dark {
    color: #2270ee;
    font-weight: normal;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0px;
    transition: color 0.5s ease-in-out;
}

.card-title-dark {
    color: #76D0FC;
}

.blankcard-dark {
    background-color: #333;
}

.rightpane, .rightpane-dark {
    float: right;
    width: 100%;
}

.rightpane-dark {
    color: #fff;
}

.btn-close, .btn-close-dark, .btn-pin, .btn-pin-dark, .btn-pin-active, .btn-pin-active-dark {
    width: 50px;
    height: 50px;
    background-color: #f0f0f0;
    border-radius: 7px;
    margin-right: 50px;
    transition: background-color 0.5s ease-in-out, fill 0.5s ease-in-out;  
}

.btn-pin, .btn-pin-dark, .btn-pin-active, .btn-pin-active-dark {
    margin-right: 10px;
}

.btn-close-dark, .btn-pin-dark {
    background-color: #555;
}

.btn-close svg path, .btn-close-dark svg path, .btn-pin svg path, .btn-pin-dark svg path {
    fill: #333;
    transition: fill 0.5s ease-in-out;   
}

.btn-pin-active, .btn-pin-active-dark {
    background-color: #FFC463;
}

.btn-pin-active svg path, .btn-pin-active-dark svg path {
    fill: #fff;
    transition: fill 0.5s ease-in-out;  
}

.btn-close-dark svg path, .btn-pin-dark svg path {
    fill: #fff;
}

.title, .title-dark {
    margin-left: 50px;
}

.title p, .title-dark p {
    color: #2270ee;
    font-weight: 500;
    transition: color 0.5s ease-in-out;
}

.title-dark p {
    color: #76D0FC;
}

.ribbon, .ribbon-dark {
    top: 0px;
    z-index: 1px;
    height: 100px;
    justify-content: space-between;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border 0.5s ease-in-out;
    border-bottom: 2px solid #eee;
    background-color: #f8f8f8;
}

.ribbon-dark {
    background-color: #333;
    border-bottom: 2px solid #333;
}

.content, .content-dark {
    padding: 20px 50px;
    height: calc(100vh - 102px);
    overflow-y: scroll;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.content-dark {
    background-color: #444;
}

.content p, .content-dark p {
    margin: 10px 0;
}

.content h1, .content-dark h1 {
    margin: 25px 0;   
}

.emptypane, .emptypane-dark {
    width: 72vw;
    transition: background-color 0.5s ease-in-out;   
}

.emptypane-dark {
    background-color: #444;
}

.card-waitlist, .card-waitlist-dark, .card-pin {
    height: 100%;
    margin-right: 20px;
    transition: fill 0.5s ease-in-out;
}

.card-waitlist svg {
    fill: #7F7F7F;
}

.card-waitlist-dark svg {
    fill: #A1A1A1;
}

.card-waitlist-empty-icon {
    width: 21px;
}

.card-pin svg {
    fill: #FFC463
}

.empty-list, .empty-list-dark {
    height: 100%;
    color: #333;
    transition: color 0.5s ease-in-out;
    flex-direction: column;
    text-align: center;
}

.empty-list-dark {
    color: #fff;
}

.list-help, .list-help-dark {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.list-help div, .list-help-dark div {
    width: 50px;
    height: 50px;
    background-color: #0059ff;
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 0.5s ease-in-out;
}

.list-help-dark div {
    background-color: #4C61FA;
}

.navigation, .navigation-dark {
    height: 50px;
    background-color: #f8f8f8;
    color: #333;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border 0.5s ease-in-out;  
    border-top: 1px solid #ddd;
    display: flex;
}

.navigation-dark {
    background-color: #333;
    color: #fff;
    border-top: 1px solid #333;
}

.btn-nav, .btn-nav-dark, .active-btn-nav, .active-btn-nav-dark {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.active-btn-nav svg, .active-btn-nav-dark svg {
    fill: #FFC463;
    margin-bottom: 3px;
}

.btn-nav-dark, .active-btn-nav-dark {
    color: #fff;
}

.btn-nav svg path, .btn-nav-dark svg path, .btn-nav svg circle, .btn-nav-dark svg circle {
    fill: #333;
}

.btn-nav-dark svg path, .btn-nav-dark svg circle {
    fill: #fff;
}

.btn-nav div, .btn-nav-dark div {
    margin-top: 3px;
}

.metric-header {
    width: 200px;
    height: 25px;
    border-radius: 10px 10px 0 0;
    font-size: 16px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

.metric-body {
    width: 200px;
    height: 50px;
    border-radius: 0 0 10px 10px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

.metric {
    margin-right: 50px;
}

.metric-list {
    display: flex;
    margin: 20px 0;
    overflow-x: scroll;
}

/* Contracted */
@media screen and (max-width: 519px) {
    .quarter, .quarter-dark {
        width: 40px;
        height: 40px;
        font-size: 14px;
    }

    .searchbutton, .searchbutton-dark {
        height: 40px;
        width: 40px;
        border-radius: 0 5px 5px 0;
    }

    .searchbutton svg, .searchbox-dark svg {
        transform: scale(0.8);
    }

    .branding, .branding-dark {
        height: 55px;
        font-size: 18px;
    }

    .branding svg, .branding-dark svg {
        transform: scale(0.75);
        margin: 0 3px;
        top: -3px;
    }

    .searchbox input, .searchbox-dark input {
        width: calc(100vw - 100px);
        font-size: 14px;
        text-indent: 15px;
        height: 40px;
        border-radius: 5px 0 0 5px;
    }

    .searchbox, .searchbox-dark {
        padding-bottom: 5px;
    }

    .list, .list-dark {
        padding: 10px 0;
        height: calc(100vh - 170px);
    }

    .card, .card-dark, .blankcard, .blankcard-dark {
        margin: 0 10px;
        min-width: calc(100% - 20px);
        height: 70px;
        text-indent: 15px;
    }

    .blankcard-header, .blankcard-header-dark, .blankcard-subtitle, .blankcard-subtitle-dark { 
        margin-left: 15px;
    }

    .card-waitlist, .card-waitlist-dark, .card-pin {
        margin-right: 15px;
    }

    .content, .content-dark {
        height: calc(100vh - 132px);
        padding: 10px 20px;
    }

    .ribbon, .ribbon-dark {
        height: 60px;
    }

    .title, .title-dark {
        margin-left: 20px;
    }

    .title h1, .title-dark h1 {
        font-size: 24px;
    }

    .title p, .title-dark p {
        width: calc(100vw - 40px);
        font-size: 16px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .content h1, .content-dark h1 {
        font-size: 24px;
        margin: 10px 0;   
    }

    .metric {
        margin-right: 10px;
    }
    
    .metric-list {
        display: flex;
        overflow-x: scroll;
    }

    .metric-header {
        width: 175px;
        height: 15px;
        border-radius: 10px 10px 0 0;
        font-size: 14px;
        padding: 8px;
    }
    
    .metric-body {
        width: 175px;
        height: 40px;
        border-radius: 0 0 10px 10px;
        padding: 6px;
        font-size: 24px;
    }
}

/* Mobile */
@media screen and (min-width: 520px) and (max-width: 849px) {
    .list, .list-dark {
        height: calc(100vh - 185px);
    }

    .branding, .branding-dark {
        font-size: 22px;
        height: 75px;
    }

    .branding svg, .branding-dark svg {
        transform: scale(0.9);
        margin: 0 5px;
        top: -3px;
    }

    .searchbox input, .searchbox-dark input {
        font-size: 14px;
        width: 60vw;
    }
}

@media screen and (min-width: 850px) and (max-width: 1000px) {
    .card, .card-dark, .blankcard, .blankcard-dark {
        max-width: calc(70vw + 50px);
    }

    .quarter, .quarter-dark {
        font-size: 16px;
    }
}

/* Expanded */
@media screen and (min-width: 1000px) {
    .searchbox input, .searchbox-dark input {
        width: 500px;
    }

    .branding svg, .branding-dark svg {
        transform: scale(1.1);
        margin: 0 11px;
    }

    .quarter, .quarter-dark {
        width: 200px;
        font-size: 16px;
    }
}

/* Desktop */
@media screen and (min-width: 1200px) {
    .branding, .branding-dark {
        width: 28vw;
        font-size: 24px;
    }

    .branding svg, .branding-dark svg {
        transform: scale(1);
        margin: 0 8px;
    }

    .searchbox, .searchbox-dark {
        width: 28vw;
        padding-bottom: 10px;
    }

    .searchbox input, .searchbox-dark input {
        width: calc(28vw - 140px);
    }

    .quarter, .quarter-dark {
        width: 70px;
    }
    
    .list, .list-dark, .list-short, .list-short-dark {
        width: 28vw;
        height: calc(100vh - 200px);
    }

    .list-short, .list-short-dark {
        height: calc(100vh - 250px);
    }

    .card, .card-dark, .blankcard, .blankcard-dark {
        margin: 0 5%;
    }
}

@media screen and (min-width: 1600px) {
    .searchbox input, .searchbox-dark input {
        width: calc(28vw - 190px);
    }

    .quarter, .quarter-dark {
        font-size: 16px;
        width: 120px;
    }
}