* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    -webkit-box-sizing: content-box;
    -webkit-font-smoothing: antialiased;
    box-sizing: content-box;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
}

body {
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    color: rgba(0,0,0,.701961);
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.branding, .branding-dark, .searchbox, .searchbox-dark, .searchbutton, .searchbutton-dark, .quarter, .quarter-dark, .btn-close, .btn-close-dark, .btn-pin, .btn-pin-dark, .btn-pin-active, .btn-pin-active-dark, .units, .units-dark, .card, .card-dark, .card-active, .card-active-dark, .blankcard, .blankcard-dark, .ribbon, .ribbon-dark, .card-waitlist, .card-waitlist-dark, .card-pin, .empty-list, .empty-list-dark, .list-help div, .list-help-dark div, .bling-strip, .metric-header, .metric-body, .schedule-titles-block, .schedule-titles-block-dark {
    display: flex;
    justify-content: center;
    align-items: center;
}

.branding, .searchbox {
    background: linear-gradient(90deg, #334bfd, #00c6ff);
}

.branding-dark, .searchbox-dark {
    background: linear-gradient(90deg, #4C61FA, #ca1cec);
}

.branding, .branding-dark {
    color: #fff;
    height: 100px;
    font-size: 28px;
}

.branding h1, .branding-dark h1 {
    font-weight: 400;
}

.branding svg, .branding-dark svg {
    position: relative;
    margin: 0 10px;
    top: -8px;
}

.searchbox, .searchbox-dark {
    padding-bottom: 20px;
}

.searchbox input, .searchbox-dark input {
    outline: none;
    width: 50vw;
    height: 50px;
    border-radius: 7px 0 0 7px;
    text-indent: 20px;
    font-size: 16px;
    transition: color 0.5s ease-in-out, caret-color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.searchbox-dark input {
    background-color: #333;
    caret-color: #fff;
    color: #fff;
}

.searchbox input::-webkit-input-placeholder, .searchbox-dark input::-webkit-input-placeholder {
    color: #333;
    transition: color 0.5s ease-in-out;
}

.searchbox-dark input::-webkit-input-placeholder {
    color:#fff;
}

.searchbutton, .searchbutton-dark {
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 0 7px 7px 0;
    background-color: #2181f7;
    transition: background-color 0.5s ease-in-out;
}

.searchbutton-dark {
    background-color: #724AE2;
}

.quarter, .quarter-dark {
    cursor: pointer;
    width: 20vw;
    height: 50px;
    font-weight: 500;
    font-size: 14px;
    text-indent: 8px;
    color: #333;
    background-color: #f2f2f2;
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
}

.quarter-dark {
    color: #fff;
    background-color: #4E4E4E;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.quarter-loading, .quarter-dark-loading {
    transition: border 0.5s ease-in-out;
    border: 4px solid #fff;
    border-top: 4px solid #2181f7;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

.quarter-dark-loading {
    border: 4px solid #333;
    border-top: 4px solid #8254ff;
}

.list, .list-dark, .list-short, .list-short-dark {
    background-color: #eee;
    height: calc(100vh - 210px);
    padding: 20px 0;
    overflow-y: auto;
    transition: background-color 0.5s ease-in-out;
}

.list-dark, .list-short-dark {
    background-color: #111;
}

.list-short, .list-short-dark {
    height: calc(100vh - 260px);
}

.blankcard-header, .blankcard-header-dark, .blankcard-subtitle, .blankcard-subtitle-dark {
    margin-left: 20px;
    width: 70px;
    height: 18px; 
    border-radius: 3px;
    margin-bottom: 7px;
    background-color: #eee;
    transition: background-color 0.5s ease-in-out;
    animation: pulse 0.5s infinite ease-in-out;
    -webkit-animation: pulse 0.5s infinite ease-in-out;
}

.blankcard-subtitle, .blankcard-subtitle-dark {
    width: 200px;
    height: 14px;
    margin-bottom: 0;
}

.blankcard-header-dark, .blankcard-subtitle-dark {
    background-color: #444;
}

@keyframes pulse {
    0% {
        background-color: rgba(165,165,165,.2);
    }
    50% {
        background-color: rgba(165,165,165,.4);
    }
    100% {
        background-color: rgba(165,165,165,.2);
    }
}

@-webkit-keyframes pulse {
    0% {
        background-color: rgba(165,165,165,.2);
    }
    50% {
        background-color: rgba(165,165,165,.4);
    }
    100% {
        background-color: rgba(165,165,165,.2);
    }
}

.card, .card-dark, .blankcard, .blankcard-dark, .card-active, .card-active-dark {
    cursor: pointer;
    justify-content:space-between;
    background-color:#fff;
    font-size: 20px;
    height: 85px;
    text-indent:20px;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 7px;
    max-width: 700px;
    margin: 0 auto;
    color: inherit;
    text-decoration: none;
}

.card-active, .card-active-dark {
    box-shadow: 0 0 0 2px #2270ee;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, box-shadow 0.25s ease-in-out;
}

.card-active-dark {
    box-shadow: 0 0 0 2px #76D0FC;
}

.card-dark, .card-active-dark {
    color: #fff;
    background-color: #333;
}

.card:hover {
    box-shadow: 0 0 0 4px #ccc;
}

.card-dark:hover {
    box-shadow: 0 0 0 4px #555;
}

.card-width {
    width: 80%;
}

.card-code {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 3px;
}

.card-title, .card-title-dark {
    color: #2270ee;
    font-weight: normal;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0px;
    transition: color 0.5s ease-in-out;
}

.card-title-dark {
    color: #76D0FC;
}

.blankcard-dark {
    background-color: #333;
}

.rightpane, .rightpane-dark {
    float: right;
    width: 100%;
    background-color: #fff;
}

.rightpane-dark {
    color: #fff;
}

.btn-close, .btn-close-dark, .btn-pin, .btn-pin-dark, .btn-pin-active, .btn-pin-active-dark, .units, .units-dark {
    width: 50px;
    height: 50px;
    background-color: #f0f0f0;
    border-radius: 7px;
    margin-right: 50px;
    transition: background-color 0.5s ease-in-out, fill 0.5s ease-in-out, color 0.5s ease-in-out;  
    cursor: pointer;
}

.btn-pin, .btn-pin-dark, .btn-pin-active, .btn-pin-active-dark, .units, .units-dark {
    margin-right: 10px;
}

.btn-close-dark, .btn-pin-dark, .units-dark {
    background-color: #555;
}

.btn-close svg path, .btn-close-dark svg path, .btn-pin svg path, .btn-pin-dark svg path {
    fill: #333;
    transition: fill 0.5s ease-in-out;   
}

.btn-pin-active, .btn-pin-active-dark {
    background-color: #FFC463;
}

.btn-pin-active svg path, .btn-pin-active-dark svg path {
    fill: #fff;
    transition: fill 0.5s ease-in-out;  
}

.btn-close-dark svg path, .btn-pin-dark svg path {
    fill: #fff;
}

.units, .units-dark {
    width: 100px;
    font-weight: 600;
    color: #2270ee;
    flex-direction: column;
    font-size: 20px;
    cursor: auto;
}

.units-dark {
    color: #76D0FC;
}

.units span, .units-dark span {
    font-size: 12px;
}

.title, .title-dark {
    margin-left: 50px;
}

.title b, .title-dark b {
    color: #2270ee;
    transition: color 0.5s ease-in-out;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.title-dark b {
    color: #76D0FC;
}

.ribbon, .ribbon-dark {
    top: 0px;
    z-index: 1px;
    height: 100px;
    justify-content: space-between;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border 0.5s ease-in-out;
    border-bottom: 2px solid #eee;
    background-color: #f8f8f8;
}

.ribbon-dark {
    background-color: #333;
    border-bottom: 2px solid #333;
}

.content, .content-dark {
    padding: 20px 50px;
    height: calc(100vh - 142px);
    overflow-y: auto;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.content-dark {
    background-color: #444;
}

.content p, .content-dark p {
    margin: 10px 0;
    font-size: 18px;
}

.content b, .content-dark b {
    font-size: 18px;
}

.content h1, .content-dark h1 {
    margin: 25px 0;   
}

.emptypane, .emptypane-dark {
    width: 72vw;
    transition: background-color 0.5s ease-in-out;   
}

.emptypane-dark {
    background-color: #444;
}

.card-waitlist, .card-waitlist-dark, .card-pin {
    height: 100%;
    margin-right: 20px;
    transition: fill 0.5s ease-in-out;
}

.card-waitlist svg {
    fill: #7F7F7F;
}

.card-waitlist-dark svg {
    fill: #A1A1A1;
}

.card-waitlist-empty-icon {
    width: 21px;
}

.card-pin svg {
    fill: #FFC463
}

.empty-list, .empty-list-dark {
    height: 100%;
    color: #333;
    transition: color 0.5s ease-in-out;
    flex-direction: column;
    text-align: center;
}

.empty-list-dark {
    color: #fff;
}

.list-help, .list-help-dark {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.list-help div, .list-help-dark div {
    width: 50px;
    height: 50px;
    background-color: #0059ff;
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 0.5s ease-in-out;
}

.list-help-dark div {
    background-color: #4C61FA;
}

.navigation, .navigation-dark {
    height: 50px;
    background-color: #f8f8f8;
    color: #333;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border 0.5s ease-in-out;  
    border-top: 1px solid #ddd;
    display: flex;
}

.navigation-dark {
    background-color: #333;
    color: #fff;
    border-top: 1px solid #333;
}

.btn-nav, .btn-nav-dark, .active-btn-nav, .active-btn-nav-dark {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.active-btn-nav svg, .active-btn-nav-dark svg {
    fill: #FFC463;
    margin-bottom: 3px;
}

.btn-nav-dark, .active-btn-nav-dark {
    color: #fff;
}

.btn-nav svg path, .btn-nav-dark svg path, .btn-nav svg circle, .btn-nav-dark svg circle {
    fill: #333;
}

.btn-nav-dark svg path, .btn-nav-dark svg circle {
    fill: #fff;
}

.btn-nav div, .btn-nav-dark div {
    margin-top: 3px;
}

.metric-header {
    width: 200px;
    height: 25px;
    border-radius: 10px 10px 0 0;
    font-size: 16px;
    padding: 8px;
    color: #333;
}

.metric-body {
    width: 200px;
    height: 50px;
    border-radius: 0 0 10px 10px;
    padding: 6px;
    font-size: 28px;
}

.metric {
    margin-right: 50px;
}

.metric-list, .metric-list-dark {
    display: flex;
    margin: 20px 0;
    overflow-x: auto;
}

.bling-strip {
    height: 50px;
    border-radius: 8px;
    font-size: 18px; 
    margin-right: 10px; 
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bling-strip svg {
    margin-right: 10px;
}

/* MIGHT NOT BE NECESSARY */

.block, .block2, .block2-dark, .dropdown, .dropdown-dark {
    display: flex;
    align-items: center;
    justify-content: center;
}

.block2, .block2-dark {
    background-color: #ECECFA; 
    transition: background-color 0.5s ease-in-out;
}

.block2-dark {
    background-color:#4b5188;
}

.section, .section-dark {
    display: inline-flex;
    height: 45px;
    margin-top: 10px;
    font-size: 15px;
    border: 2px solid #ECECFA;
    transition: border 0.5s ease-in-out;
    cursor: pointer;
}

.section-dark {
    border: 2px solid #4b5188;;
}

.subinfo-row, .subinfo-row-dark {
    display: flex;
    height: 40px;
    font-size: 15px;
}

.subinfo-row:hover {
    background-color:#f8f8f8;
}

.subinfo-row-dark:hover {
    background-color:#3a3a3a;
}

.accor > .body, .accor > .body-dark {
    margin-bottom: 15px;
    border: 2px solid transparent;
    border-top: 0px;
    max-height: 0;
    overflow: hidden;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: max-height 0.5s ease-in-out, border 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out, border 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out, border 0.5s ease-in-out;
}

.accor.active > .body, .accor.active > .body-dark {
    margin-bottom: 15px;
    max-height: 600px;
    border: 2px solid #ECECFA;
    border-top: 0px;
    transition: border 0.5s ease-in-out;
}

.accor.active > .body-dark {
    border: 2px solid #4b5188;
    border-top: 0px;
}

.dropdown, .dropdown-dark {
    background-color: #6264BD;
    width: 45px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.dropdown-dark {
    background-color: #363B63;
}

.dropdown.active svg {
    transform: rotate(180deg);
}

/* .schedule-titles-block, .schedule-titles-block-dark {
    width: calc((72vw - 200px) / 5);
    height: 60px;
    border-top: 1px solid #dedede;
    background-color: #f7f7f7;
    transition: border-color 0.5s ease-in-out, background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    color: #333;
}

.schedule-titles-block-dark {
    border-top: 1px solid #444;
    background-color: #333;
    color: #fff;
}

.schedule-titles-container, .schedule-titles-container-dark {
    display: flex;
    border-bottom: 1px solid #dedede;
    transition: border-color 0.5s ease-in-out;
}

.schedule-titles-container-dark {
    border-bottom: 1px solid #666;
}

.schedule-fragment, .schedule-fragment-dark, .schedule-fragment2, .schedule-fragment2-dark {
    width: 100px;
    height: 60px;
    text-align: center;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ddd;
    transition: border-color 0.5s ease-in-out;
}

.schedule-fragment-dark {
    border-top: 1px solid #666;
    border-right: 1px solid #555;
}

.schedule-fragment2, .schedule-fragment2-dark {
    border-top: 1px dashed #ccc;
    border-right: 1px solid #ddd;
}

.schedule-fragment2-dark {
    border-top: 1px dashed #666;
    border-right: 1px solid #555;
}

.schedule-empty-column, .schedule-empty-column-dark, .schedule-empty-column2, .schedule-empty-column2-dark {
    position: relative;
    z-index: 0;
    width: calc((75vw - 200px) / 5);
    height: 60px;
    border-top: 1px solid #ccc;
    background-color: #fff;
    transition: border 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.schedule-empty-column2, .schedule-empty-column2-dark {
    border-top: 1px dashed #ccc;
}

.schedule-empty-column-dark, .schedule-empty-column2-dark {
    border-color: #777;
    background-color: #444;
} */

/* PAGE TRANSITIONS: Credit, https://blog.etch.team/react-page-transitions-make-your-website-feel-native-bf2804b011dc */

.page {
    height: 100vh;
    overflow-y: auto;
    width: 100%;
    position: fixed;
    top: 0;
    -webkit-overflow-scrolling: touch;
    transition: transform 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
    will-change: transform, box-shadow;
}
  
.page-enter {
    transform: translate(-100%, 0);
    will-change: transform;
}

.page-enter-active {
    transform: translate(0, 0);
    will-change: transform;
}

.page-exit {
    box-shadow: 0 0 5em 0 rgba(128, 128, 128, .5) inset;
    transform: translate(-100%, 0);
    will-change: transform;
}

.page--prev.page-enter {
    transform: translate(100%, 0);
    will-change: transform;
}

.page--prev.page-enter-active {
    transform: translate(0, 0);
    will-change: transform;
}

.page--prev.page-exit {
    transform: translate(100%, 0);
    will-change: transform;
}

.page-exit .page__inner {
    opacity: 0;
    transform: scale(0.92);
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
    will-change: transform, opacity;
}

/* Desktop */
@media screen and (min-width: 1201px) {
    .branding, .branding-dark {
        width: 28vw;
        font-size: 24px;
        height: 90px;
    }

    .branding svg, .branding-dark svg {
        transform: scale(1);
        margin: 0 5px;
    }

    .quarter, .quarter-dark {
        font-size: 16px;
        width: 110px;
    }

    .searchbox, .searchbox-dark {
        width: 28vw;
        padding-bottom: 10px;
    }

    .searchbox input, .searchbox-dark input {
        width: calc(28vw - 200px);
    }
    
    .list, .list-dark, .list-short, .list-short-dark {
        width: 28vw;
        height: calc(100vh - 190px);
    }

    .list-short, .list-short-dark {
        height: calc(100vh - 241px);
    }

    .card, .card-dark, .blankcard, .blankcard-dark, .card-active, .card-active-dark {
        margin: 0 5%;
    }

    .content, .content-dark {
        padding: 20px 50px;
        width: calc(72vw - 100px);
        overflow-y: scroll;
    }

    .metric {
        margin-right: 20px;
    }
}

/* Expanded */
@media screen and (min-width: 1000px) and (max-width: 1200px) {
    .searchbox input, .searchbox-dark input {
        width: calc(30vw - 120px);
    }

    .searchbox, .searchbox-dark {
        padding-bottom: 5px;
    }

    .branding, .branding-dark {
        width: 30vw;
        height: 80px;
        font-size: 20px;
    }

    .branding svg, .branding-dark svg {
        margin: 0 5px;
    }

    .list, .list-dark, .list-short, .list-short-dark {
        width: 30vw;
        padding: 10px 0;
        height: calc(100vh - 155px);
    }
    
    .list-short, .list-short-dark {
        height: calc(100vh - 205px);
    }

    .quarter, .quarter-dark {
        width: 50px;
        font-size: 16px;
        text-indent: 6px;
    }

    .card, .card-dark, .blankcard, .blankcard-dark, .card-active, .card-active-dark {
        max-width: calc(28vw);
    }

    .blankcard-header, .blankcard-header-dark, .blankcard-subtitle, .blankcard-subtitle-dark {
        width: 80px; 
        height: 22px;
        margin-bottom: 7px;
    }
    
    .blankcard-subtitle, .blankcard-subtitle-dark {
        width: 230px;
        height: 16px;
        margin-bottom: 0;
    }

    .ribbon, .ribbon-dark {
        width: 70vw;
    }

    .title, .title-dark {
        margin-left: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .btn-close, .btn-close-dark {
        margin-right: 30px;
    }

    .metric {
        margin-right: 10px;
    }

    .content, .content-dark {
        padding: 20px 30px;
        width: calc(70vw - 60px);
        overflow-y: auto;
    }
}

@media screen and (max-width: 999px) {
    .list, .list-dark {
        padding: 20px 0;
        height: calc(100vh - 260px);
    }   

    .searchbox input, .searchbox-dark input {
        max-width: 450px;
        font-size: 16px;
        height: 50px;
    }

    .blankcard-header, .blankcard-header-dark, .blankcard-subtitle, .blankcard-subtitle-dark { 
        margin-left: 20px;
    }

    .quarter, .quarter-dark {
        width: 200px;
        text-indent: 55px;
        font-size: 16px;
    }

    .card, .card-dark, .blankcard, .blankcard-dark, .card-active, .card-active-dark {
        margin: 0 auto;
        height: 80px;
    }

    .blankcard-header, .blankcard-header-dark, .blankcard-subtitle, .blankcard-subtitle-dark {
        width: 100px; 
        height: 22px;
        margin-bottom: 7px;
    }
    
    .blankcard-subtitle, .blankcard-subtitle-dark {
        width: 300px;
        height: 16px;
        margin-bottom: 0;
    }

    .content, .content-dark {
        padding: 20px 50px;
        height: calc(100vh - 192px);
    }

    .metric {
        margin-right: 20px;
    }
}

@media screen and (max-width: 750px) {
    .list, .list-dark {
        padding: 20px 0;
        height: calc(100vh - 260px);
    }

    .card, .card-dark, .blankcard, .blankcard-dark, .card-active, .card-active-dark {
        margin: 0 20px;
        height: 80px;
    }

    .blankcard-header, .blankcard-header-dark, .blankcard-subtitle, .blankcard-subtitle-dark { 
        margin-left: 20px;
    }

    .quarter, .quarter-dark {
        width: 200px;
        text-indent: 55px;
        font-size: 16px;
    }

    .searchbox input, .searchbox-dark input {
        max-width: 700px;
        font-size: 16px;
        height: 50px;
    }

    .card-code {
        font-size: 22px;
    }

    .card-width {
        width: 90%;
    }

    .blankcard-header, .blankcard-header-dark, .blankcard-subtitle, .blankcard-subtitle-dark {
        width: 100px; 
        height: 22px;
        margin-left: 5px;
        margin-bottom: 7px;
    }
    
    .blankcard-subtitle, .blankcard-subtitle-dark {
        width: 250px;
        height: 16px;
        margin-bottom: 0;
    }

    .content, .content-dark {
        padding: 20px 50px;
        height: calc(100vh - 192px);
    }
    
    .metric {
        margin-right: 10px;
    }
}

@media screen and (max-width: 650px) {
    .quarter, .quarter-dark {
        width: 130px;
        height: 50px;
        font-size: 16px;
        text-indent: 18px;
    }

    .searchbox input, .searchbox-dark input {
        width: calc(100vw - 200px);
        font-size: 16px;
        height: 50px;
    }

    .searchbox, .searchbox-dark {
        padding-bottom: 15px;
    }

    .branding, .branding-dark {
        height: 90px;
        font-size: 26px;
    }

    .branding svg, .branding-dark svg {
        margin: 0 10px;
    }

    .list, .list-dark {
        padding: 10px 0;
        height: calc(100vh - 225px);
    }

    .card, .card-dark, .blankcard, .blankcard-dark, .card-active, .card-active-dark {
        margin: 0 10px;
        height: 80px;
    }

    .blankcard-header, .blankcard-header-dark, .blankcard-subtitle, .blankcard-subtitle-dark { 
        margin-left: 20px;
    }

    .ribbon, .ribbon-dark {
        height: 90px;
    }
    
    .title, .title-dark {
        margin-left: 30px;
    }

    .title h1, .title-dark h1 {
        font-size: 30px;
    }

    .units, .units-dark {
        width: 100px;
        font-size: 20px;
        margin-right: 20px;
    }
    
    .units span, .units-dark span {
        font-size: 12px;
    }

    .content, .content-dark {
        padding: 20px 30px;
        height: calc(100vh - 182px);
    }

    .content h1, .content-dark h1 {
        margin: 20px 0;   
        font-size: 26px;
    }
    
    .content p, .content-dark p {
        margin: 10px 0;
        font-size: 16px;
    }
    
    .content b, .content-dark b {
        font-size: 18px;
    }

    .bling-strip {
        height: 50px;
        width: 150px;
        padding: 0 10px;
    }

    .bling-strip b {
        margin-top: 2px;
    }

    .bling-strip svg {
        margin-right: 10px;
    }
    
    .metric-header {
        width: 190px;
        height: 40px;
        font-size: 16px !important;
        padding: 0;
    }
    
    .metric-body {
        width: 186px;
        height: 60px;
        font-size: 26px;
        padding: 0;
    }
    
    .metric {
        margin-right: 20px;
    }

    .metric-list {
        margin: 10px 0;
        padding: 3px;
        mask-image: linear-gradient(to right, transparent, black 7px, black 97%, transparent);
        -webkit-mask-image: linear-gradient(to right, transparent, black 7px, black 97%, transparent);
    }
}

@media screen and (max-width: 450px) {
    .quarter, .quarter-dark {
        width: 100px;
        height: 50px;
        font-size: 16px;
        text-indent: 5px;
    }

    .searchbox input, .searchbox-dark input {
        width: calc(100vw - 170px);
        font-size: 16px;
        height: 50px;
    }

    .searchbox, .searchbox-dark {
        padding-bottom: 15px;
    }

    .searchbutton, .searchbutton-dark {
        height: 50px;
        width: 50px;
    }

    .branding, .branding-dark {
        height: 75px;
        font-size: 22px;
    }

    .branding svg, .branding-dark svg {
        transform: scale(0.9);
        margin: 0 6px;
        top: -3px;
    }

    .list, .list-dark {
        padding: 10px 0;
        height: calc(100vh - 210px);
    }

    .card, .card-dark, .blankcard, .blankcard-dark, .card-active, .card-active-dark {
        margin: 0 10px;
        height: 75px;
    }

    .blankcard-header, .blankcard-header-dark, .blankcard-subtitle, .blankcard-subtitle-dark { 
        margin-left: 20px;
    }

    .ribbon, .ribbon-dark {
        height: 80px;
    }
    
    .title, .title-dark {
        margin-left: 20px;
    }

    .title h1, .title-dark h1 {
        font-size: 26px;
    }

    .units, .units-dark {
        width: 100px;
        font-size: 20px;
        margin-right: 20px;
    }
    
    .units span, .units-dark span {
        font-size: 12px;
    }

    .content, .content-dark {
        padding: 20px 20px;
        height: calc(100vh - 172px);
    }

    .content h1, .content-dark h1 {
        margin: 15px 0;   
        font-size: 26px;
    }
    
    .content p, .content-dark p {
        margin: 10px 0;
        font-size: 16px;
    }
    
    .content b, .content-dark b {
        font-size: 16px;
    }

    .bling-strip {
        height: 50px;
        width: 150px;
        padding: 0 10px;
    }

    .bling-strip b {
        margin-top: 2px;
    }

    .bling-strip svg {
        margin-right: 10px;
    }
    
    .metric-header {
        width: 170px;
        height: 40px;
        font-size: 14px !important;
        padding: 0;
    }
    
    .metric-body {
        width: 166px;
        height: 55px;
        font-size: 24px;
        padding: 0;
    }
    
    .metric {
        margin-right: 10px;
    }

    .metric-list {
        margin: 10px 0;
        padding: 3px;
        mask-image: linear-gradient(to right, transparent, black 7px, black 97%, transparent);
        -webkit-mask-image: linear-gradient(to right, transparent, black 7px, black 97%, transparent);
    }
}

@media screen and (max-width: 400px) {
    .quarter, .quarter-dark {
        width: 50px;
        height: 40px;
        font-size: 14px;
        text-indent: 8px;
    }

    .searchbox input, .searchbox-dark input {
        width: calc(100vw - 110px);
        font-size: 14px;
        text-indent: 15px;
        height: 40px;
        border-radius: 5px 0 0 5px;
    }

    .searchbox, .searchbox-dark {
        padding-bottom: 5px;
    }

    .searchbutton, .searchbutton-dark {
        height: 40px;
        width: 40px;
        border-radius: 0 5px 5px 0;
    }

    .searchbutton svg, .searchbox-dark svg {
        transform: scale(0.8);
    }

    .branding, .branding-dark {
        height: 55px;
        font-size: 18px;
    }

    .branding svg, .branding-dark svg {
        transform: scale(0.75);
        margin: 0 3px;
        top: -3px;
    }

    .list, .list-dark {
        padding: 10px 0;
        height: calc(100vh - 170px);
    }

    .card, .card-dark, .blankcard, .blankcard-dark, .card-active, .card-active-dark {
        margin: 0 10px;
        min-width: calc(100% - 20px);
        height: 70px;
        text-indent: 15px;
    }

    .blankcard-header, .blankcard-header-dark, .blankcard-subtitle, .blankcard-subtitle-dark { 
        margin-left: 15px;
    }

    .ribbon, .ribbon-dark {
        height: 60px;
    }
    
    .title, .title-dark {
        margin-left: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .title h1, .title-dark h1 {
        font-size: 20px;
    }

    .units, .units-dark {
        width: 80px;
        font-size: 18px;
        margin-right: 20px;
    }
    
    .units span, .units-dark span {
        font-size: 10px;
    }

    .content, .content-dark {
        padding: 10px 20px;
        height: calc(100vh - 132px);
    }

    .content h1, .content-dark h1 {
        margin: 10px 0;   
        font-size: 22px;
    }
    
    .content p, .content-dark p {
        margin: 10px 0;
        font-size: 16px;
    }
    
    .content b, .content-dark b {
        font-size: 16px;
    }

    .bling-strip {
        height: 60px;
        width: 100px;
        padding: 0 10px;
        border-radius: 5px;
        font-size: 16px; 
        margin-right: 10px; 
        flex-direction: column;
    }

    .bling-strip b {
        margin-top: 5px;
    }

    .bling-strip svg {
        margin: 0;
    }
    
    .metric-header {
        width: 150px;
        height: 30px;
        border-radius: 5px 5px 0 0;
        font-size: 12px !important;
        padding: 0;
    }
    
    .metric-body {
        width: 146px;
        height: 50px;
        border-radius: 0 0 5px 5px;
        font-size: 20px;
        padding: 0;
    }
    
    .metric {
        margin-right: 10px;
    }

    .metric-list {
        margin: 10px 0;
        padding: 5px;
        mask-image: linear-gradient(to right, transparent, black 7px, black 97%, transparent);
        -webkit-mask-image: linear-gradient(to right, transparent, black 7px, black 97%, transparent);
    }
}

@media screen and (max-width: 290px) {
    .bling-strip {
        height: 50px;
        width: 40px;
    }

    .bling-strip b {
        display: none;
    }
}

@media screen and (max-width: 270px) {
    .branding, .branding-dark {
        height: 55px;
        font-size: 16px;
    }

    .branding svg, .branding-dark svg {
        transform: scale(0.7);
        margin: 0 1px;
        top: -3px;
    }

    .ribbon, .ribbon-dark {
        height: 50px;
    }
    
    .title, .title-dark {
        margin-left: 10px;
    }

    .units, .units-dark {
        width: 40px;
        font-size: 16px;
        margin-right: 10px;
        height: 40px;
    }
    
    .units span, .units-dark span {
        font-size: 8px;
    }

    .content, .content-dark {
        padding: 10px 10px;
        height: calc(100vh - 122px);
    }

    .content h1, .content-dark h1 {
        margin: 7px 0;   
        font-size: 20px;
    }
    
    .content p, .content-dark p {
        margin: 7px 0;
    }
}

@media screen and (max-width: 225px) {
    .branding svg, .branding-dark svg {
        display: none;
    }

    .branding h1:nth-of-type(2), .branding-dark h1:nth-of-type(2) {
        margin-left: 5px;
    }
}

@media screen and (max-width: 200px) {
    .branding, .branding-dark {
        height: 10px;
    }

    .branding svg, .branding-dark svg, .branding h1, .branding-dark h1 {
        display: none;
    }

    .searchbox input, .searchbox-dark input {
        width: calc(100vw - 50px);
        font-size: 14px;
        text-indent: 15px;
    }

    .quarter, .quarter-dark {
        display: none;
    }

    .list, .list-dark {
        padding: 10px 0;
        height: calc(100vh - 125px);
    }

    .card, .card-dark, .blankcard, .blankcard-dark, .card-active, .card-active-dark {
        text-indent: 5px;
        margin: 0 5px;
        height: 50px;
        border-radius: 3px;
    }

    .card svg, .card-dark svg, .card-active svg, .card-active-dark svg {
        display: none;
    }

    .card-waitlist, .card-waitlist-dark, .card-pin {
        margin-right: 7px;
    }

    .card-code {
        font-size: 18px;
        margin: 0;
    }

    .card-width {
        width: 90%;
    }

    .card-title, .card-title-dark {
        font-size: 14px;
    }

    .blankcard-header, .blankcard-header-dark, .blankcard-subtitle, .blankcard-subtitle-dark {
        width: 50px; 
        margin-left: 5px;
        margin-bottom: 3px;
    }
    
    .blankcard-subtitle, .blankcard-subtitle-dark {
        width: 140px;
        margin-bottom: 0;
    }

    .units, .units-dark {
        display: none;
    }
}